<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ukstechno.marryme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PrintKeyHash"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Splashscreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Login"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".MainActivityLuncher"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <activity
            android:name=".UpdateProfile"
            android:label="@string/title_activity_update_profile"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".FacebookDisplay"
            android:label="@string/title_activity_facebook_display"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".MatchingProfile"
            android:label="@string/title_activity_matching_profile"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".GoogleSignin"
            android:label="@string/title_activity_google_signin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewDetails"
            android:label="@string/title_activity_view_details"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
